:root {
    --wall-color: #848484;

    --block-not-in-position-color: #FFB552;

    --player-color: #FFFF00;

    --goal-color: #FF0000;

    --empty-space-color: #DED6AD;

    --filler-background-color: #09f2e6;
}

#container {
    background-color: var(--filler-background-color);

    position: relative;
    width: 900px;
    height: 900px;
    margin: auto;
    margin-top: 10px;
}

.tile-wall{
    background-color: var(--wall-color);
}

.tile-space {
    background-color: var(--empty-space-color);
}

.tile-goal {
    background-color: var(--goal-color);
}

.entity-player {
    background-color: var(--player-color);
}



.entity-block {
    background-color: var(--block-not-in-position-color);
}

.entity-block-goal {
    
}